* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #14232e;
}

.main_page {
    height: 100vh;
}

.search {
    display: flex;
}

.search button {
    margin: 10px;
    height: 40px;
    background-color: #1a2c38;
    border: none;
    border-radius: 10px;
    color: white;
}

.search input {
    margin: 10px;
    padding-left: 1em;
    height: 40px;
    width: 98%;
    background-color: #1a2c38;
    border: none;
    border-radius: 10px;
    color: white;
}

.container {
    display: flex;
    height: 89vh;
}

.container-1 {
    margin: auto;
    justify-content: center;
}

.container-2 {
    margin: auto;
    justify-content: center;
}

.box1 {
    display: flex;
    height: 210px;
    width: 610px;
    border-radius: 20px;
    background-color: rgb(27, 230, 0);
    margin: 10px;
    text-align: left;
}

.weather-info {
    padding: 2em;
}

.image-weather img{
    height: 210px;
    width: 210px;
}

.box2 {
    height: 250px;
    width: 610px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    text-align: center;
}

.box3 {
    height: 465px;
    width: 610px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    text-align: center;
}

.image img {
    height: 120px;
    width: 120px;
}

.box-2 {
    height: 428px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
}

.box-3 {
    height: 228px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
}

.box1 h1 {
    font-size: 60px;
    color: white;
}

.box1 p {
    font-size: 20px;
    color: white;
}

.box1 label {
    font-size: 20px;
    color: white;
}

.box2 p {
    font-size: 20px;
    color: white;
}

.box2 h1 {
    padding-top: 1em;
    font-size: 40px;
    color: white;
}

.image-1 img {
    height: 80px;
    width: 80px;
}

.box3 h1 {
    padding-top: 1em;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.stats-1 {
    text-align: center;
    display: flex;
}

.stats-2 {
    text-align: center;
    display: flex;
}

.block-2 img{
    height: 70px;
    width: 70px;
}

.block-3 img{
    height: 70px;
    width: 70px;
}

.block-4 img{
    height: 70px;
    width: 70px;
}

.block-1 img{
    height: 70px;
    width: 70px;
}

.block-1 {
    margin: auto;
    justify-content: center;
}

.block-2 {
    margin: auto;
    justify-content: center;
}

.block-3 {
    margin: auto;
    justify-content: center;
}

.block-4 {
    margin: auto;
    justify-content: center;
}
